* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.Page {
  padding: 10px 50px 100px;
  display: inline-block; }
  .Page > * {
    padding: 10px; }
  .Page a {
    text-decoration: none;
    display: block;
    border-left: 1px solid transparent;
    cursor: pointer; }
    .Page a:hover {
      border-left: 1px solid #999;
      background: #f0f0f0; }
  .Page li {
    list-style: none; }
  .Page h3 {
    line-height: 30px;
    color: #999; }
  .Page h4 {
    font-weight: normal;
    margin-bottom: 10px;
    color: #222; }

input {
  display: block;
  outline: none;
  margin: 20px auto;
  border: 1px solid #999;
  padding: 5px;
  color: #222;
  width: 100%;
  max-width: 300px;
  line-height: 30px;
  font-size: 1em; }

section {
  padding: 10px 50px 100px;
  display: inline-block; }
  section ul a {
    display: block;
    text-decoration: none; }
    section ul a .Repo {
      padding: 10px;
      border-left: 1px solid transparent; }
      section ul a .Repo:hover {
        border-left: 1px solid #999;
        background: #f0f0f0; }
      section ul a .Repo li {
        color: #222;
        list-style: none;
        line-height: 30px; }
      section ul a .Repo span {
        color: #999; }
